body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 10px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width:900px;
    margin:20 auto;
    background-color: lightslategrey;
    color:lightgray;
    font-family:sans-serif;
}
body{
    background-color:oldlace;
}
h3{
    color:Ivory;
}
a{
    color:lightgrey;
}